{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}ثبت نام {% endblock %}

{% block form %}
<div class="card-body register-card-body">
    <p class="login-box-msg">ثبت نام کنید</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">ثبت نام</button>
            </div>
        </div>
    </form>

    <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google"></i>
            ورود با حساب گوگل
        </a>
    </div>
    <small class="text-muted">
        ثبت نام کرده اید؟ <a class="ml-2" href="{% url 'login' %}">ورود</a>
    </small>
</div>
{% endblock %}